<section id="about" class="p-note">
  <br />

  <div class="about-header">
    <a class="about-header-image">
    <img class="default-image" src="https://raw.githubusercontent.com/chanhee-luke/chanhee-luke.github.io/new_look/images/profile_new.jpg">
    <img class="hover-image" src="https://raw.githubusercontent.com/chanhee-luke/chanhee-luke.github.io/new_look/images/doochoo_new.jpg">
    </a>
    
    <div class="description">
    <p class="name">Hi, I'm Chan Hee (Luke) Song.</p> 
    <p>I am a CS PhD student at <a href="https://www.osu.edu" target="_blank" rel="noopener noreferrer">The Ohio State University</a> advised by <a href="https://ysu1989.github.io/">Yu Su</a>.</p>
    <p>My research focuses on multi-modality, particularly embodied AI and multimodal foundation models.</p>
    <p>During my undergraduate at <a href="https://www.nd.edu" target="_blank" rel="noopener noreferrer">Notre Dame</a>, I was part of the <a href="https://nlp.nd.edu" target="_blank" rel="noopener noreferrer">ND NLP</a>.</p>
    <p>I have interned at <a href="https://research.nvidia.com/labs/lpr/" target="_blank" rel="noopener noreferrer">Nvidia Research</a> and <a href="https://research.adobe.com" target="_blank" rel="noopener noreferrer">Adobe Research</a>.</p>

    <!-- <p>I received BS Cum Laude in Computer Science from <a href="https://www.nd.edu" target="_blank" rel="noopener noreferrer">University of Notre Dame</a>, where I was part of <a href="https://nlp.nd.edu" target="_blank" rel="noopener noreferrer">ND NLP Group</a>.</p> -->
    <!-- <p><i class="fa-solid fa-location-dot"></i> Columbus, OH</p> -->
    <% if (theme.social_links) { %>
      <p>
        <%= __('index.find_me_on') %>
        <% var nb_links = theme.social_links.length %>
        <% var i = 0 %>
        <% for(var {label, icon, link} of theme.social_links) { %>
          <% var title = label || icon %>
          <% if (icon == 'mail') { %>
            <a class="icon u-email" target="_blank" rel="noopener" href="<%- link %>" aria-label="<%- title %>" title="<%- title %>">
              <i class="fa-solid fa-envelope"></i><!--
        ---></a>
          <% } else if (icon == 'rss') { %>
            <a class="icon" target="_blank" rel="noopener" href="<%- link %>" aria-label="<%- title %>" title="<%- title %>">
              <i class="fa-solid fa-rss"></i>
            </a>
          </a>
          <% } else if (icon == 'graduation-cap') { %>
            <a class="icon" target="_blank" rel="noopener" href="<%- link %>" aria-label="<%- title %>" title="<%- title %>">
              <i class="fa-solid fa-graduation-cap"></i>
            </a>
          <% } else { %>
            <a class="icon u-url" target="_blank" rel="noopener me" href="<%- url_for(link) %>" aria-label="<%- title %>" title="<%- title %>">
              <i class="fa-brands fa-<%= icon %>"></i><!--
        ---></a><!--
      ---><% } %><!--
      ---><%= ( nb_links > 0 && i < nb_links-1 ?
              ( i == nb_links-2 ? ' '+__('index.enum_and')+' '
              : __('index.enum_comma')+' ' )
              : '.' ) %>
          <% i+=1 %>
        <% } %>
      </p>
    <% } %>
    </div>
  </div>

  <!-- <% if (config.description) { %>
    <%- markdown(config.description) %>
  <% } %> -->
  
  <br />

  <% if (site.data.news) { %>
    <span class="h1">What's New</span>
    <div class="overall-timeline">
        <% for(var news of site.data.news){ %>
            <div class="timeline">
                <div class="time-block">
                    <div class="time-circle"></div>
                    <p class="time-month"><%= news.date %></p>
                    <p class="time-title">
                        <% var replacedContent = news.content; %>
                        <% for(var spotlight of news.spotlights) { %>
                          <% var index = replacedContent.indexOf(spotlight); %>
                          <% if (index !== -1) { %>
                              <% 
                                  var prefix = replacedContent.slice(0, index); // 替换内容前缀
                                  var suffix = replacedContent.slice(index + spotlight.length); // 替换内容后缀
                                  replacedContent = prefix + '<span class="spotlight">' + spotlight + '</span>' + suffix;
                              %>
                          <% } %>
                      <% } %>

                      <% for(var key in news.links){ %>
                        <% var link = news.links[key]; %>
                        <% replacedContent = replacedContent.replace(new RegExp('\\b' + key + '\\b', 'gi'), '<a href="' + link + '">$&</a>'); %>
                      <% } %>
                      <%- replacedContent %>
                    </p>
                </div>
            </div>
        <% } %>
    </div>
<% } %>

<br />

<div id="selected_pub">
  <span class="h1">Selected Publications</span>
  <p class="tips1">See full list in <a href="/publications">Publications</a>.</p>

  <ul class="post-list">
    <% for (var paper of site.data.selectedPublications) { %>
      <li class="post-item">
        <p class="paper-name"><%= paper.name %></p>
        <p class="authors"><%- unescape(paper.authors.replace(/(Chan Hee Song)/gi, '<span>$1</span>')) %></p>
        <p class="links">
          <span class="tag"><%= paper.tag %></span>
          <span class="spotlight"><%= paper.spotlight %></span>

          <% if (paper.paper_url) { %>
            <a href="<%= paper.paper_url %>">Paper</a>
          <% } %>

          <% if (paper.project_url) { %>
            <a href="<%= paper.project_url %>">Website</a>
          <% } %>

          <% if (paper.code_url) { %>
            <a href="<%= paper.code_url %>">Code</a>
          <% } %>

          <% if (paper.data_url) { %>
            <a href="<%= paper.data_url %>">Data</a>
          <% } %>

          <% if (paper.reading_list) { %>
            <a href="<%= paper.reading_list %>">Reading List</a>
          <% } %>

          <% if (paper.slides_url) { %>
            <a href="<%= paper.slides_url %>">Slides</a>
          <% } %>

        </p>
      </li>
    <% } %>
  </ul>
</div>
</section>


<span class="h1">Contact</span>
<div class="contact-content">
<div>Email: <strong>1ch[LAST_NAME]@gmail.com</strong></div>
<p>Feel free to contact me if you are interested in my research or want to discuss anything :)</p>
</div>

<br />
<br />
<br />

